@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=My+Soul&display=swap');
*,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    scroll-behavior: smooth;
}


body{
    background-color: var(--bg-utama);
}
:root {
    --bg-utama:#FFFFFF;
    --bg-sekunder:#D6DFEC;
    --bold-text:#DCDCDC;
    --text:#515151;    
}
/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;   
  background-color:var(--bold-text);
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}

nav a {
  text-decoration: none;
  color: #000000;
  font-family: "Lora", serif;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}       

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.nav-active {
  font-weight: 600;
}
/* Header V2 */

/* Heaader */
header .background{
    padding-bottom: 120px;
}
header .background img{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: -50;
    width: 1349px;
    height: 600px;
}
header .title-header{
    padding: 0 0 0 120px;
    margin-bottom: 120px;

}
header h2,h3{
    line-height: 20px;
}
header h2 {
    font-family: "My Soul", cursive;
    font-weight: 400;
    font-size: 32px;    
}
header h3{
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 30px;
    margin-left: 35px;
}
header p{
    margin-top: 10px;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 17px;
    width: 380px;
}
header a {
    text-decoration: none;
    background-color: #DCDCDC;
    border: none;
    padding: 12px;
    border-radius: 4px;
    line-height: 60px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
}
header .header-btn {
    margin-right:20px ;
    background: transparent;
    border: 1px solid black;
    color: #FFFFFF;
    
} 

article{
    display: flex;
    padding: 80px 80px;
    background-color: var(--bg-sekunder);
}
article img{
    height: 380px;
    width: 700px;
    margin-top: 18px;
    border-radius: 7px;
}
.article-teks{
    background-color: #DCDCDC;
    padding: 20px;
    width: 550px;
    position: absolute;
    margin-left: 600px;
    margin-top: -30px;
    border: 1px solid #000000;
    border-radius: 7px;
}
article .article-teks h3{
    text-align: center;
    margin-bottom: 10px;
    font-family: "Lora", serif;
}
article .article-teks h2{
    text-align: center;
    font-family: "My Soul", cursive;
    font-weight: 500;
    font-size: 35px;
    line-height: 18px;
    color: #6D6D6D;
}
article .article-teks p{
    text-align: justify;    
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
article .article-teks h5{
    text-align: justify;
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
}
/* Best Seller */
.container-best-seller{
    padding: 35px 80px;
    background-color: var(--bg-utama);
}
.title-best-seller{
    text-align: center;
    margin-bottom: 20px;
}
.title-best-seller h2{
    font-family: "My Soul", cursive;
    font-weight: 400;
    font-size: 35px;
    color: #e4e4e4e4;
    line-height: 10px;
}
.title-best-seller p{
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 25px;
}
.content-seller{
    text-align: center;
}
.best-seller i{
    margin-top: 15px;
    margin-bottom: 5px;
}
.best-seller p {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.best-seller h2 {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 20px;
    /* margin-top: 35px; */
}
.best-seller h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
}
.container-serve{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.best-seller{
    background-color: #DCDCDC;
    position: relative;
    z-index: 1;
    height: 255px;
    width: 230px;
    border-radius: 55px 55px 15px 15px;
    text-align: center ;
    padding: 0 10px;
}

.best-seller.big{
    text-align: center;
    position: relative;
    z-index: 1;
    height: 255px;
    width: 245px;
    bottom: 20px;
}
.best-seller.big .img-big {
    height: 161px;
    width: 161px;
    position: relative;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -70px;
    z-index: 2;
}
.container-serve .best-seller img{
    height: 141px;
    width: 141px;
    position: relative;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -50px;
    z-index: 2;
}
.container-best-seller a{
    background-color: #DCDCDC;
    padding: 10px;
    margin: 40px auto 0 auto;
    width: 250px;
    display: block;
    border: 1px solid #000000;
    text-align: center;
    color: #000000;
    border-radius: 7px;
}

/* Picture */
figure{
    padding: 40px 20px;
    background-color: #C4DCE0;
}
.container-card-figure{
    display: flex;
    justify-content: center;    
}
.title-figure{
    text-align: center;
}
.title-figure h2{
    font-family: "My Soul", cursive;
    font-weight: 500;
    font-size: 35px;
    line-height: 15px;
    color: white;
}
.title-figure h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.card-figure{
    /* background-color: green; */
    margin-top: 20px;
}
.card-figure img{
    width: 260px;
    height: 240px;
    margin: 10px;
    border-radius: 7px;
    border: 1px solid blue;
}

/* Footer */
footer{
    background-color: var(--bg-sekunder);   
    color: #C4DCE0;
    padding: 30px 80px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer div h2{
    font-family: "My Soul", cursive;
    font-weight: 500;
    font-size: 35px;
    line-height: 15px;
    color: var(--text);
}
footer p{
    font-size: 14px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}
footer div nav{
    background-color: transparent;
    margin: 7px 0;
}
footer a{
    text-decoration: none;
    color: #C4DCE0;
    text-align: center;
}

/* responsive navbar footer */
@media (max-width: 600px) {
    footer nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    footer nav ul li {
        margin: 10px 0;
    }
    footer nav ul li a {
        display: block;
        width: 100%;
        text-align: center;
    }
}

#myBtn {
    display: none; 
    position: fixed; /* Fixed/sticky position */
    bottom: 0; /* Place the button at the bottom */
    right: 0; /* Place the button at the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    margin-right: 30px;
    margin-bottom: 15px;
    background-color: var(--text); /* Red background color */
    color: white; /* White text color */
    cursor: pointer; /* Add a pointer cursor on hover */
    padding: 10px; /* Some padding */
    border-radius: 7px;
    transition: 0.3s;
  }
  #myBtn i {
    font-size: 22px;
  }
  #myBtn:hover {
    background-color: #7e7c7c; /* Dark grey background color on hover */
  }